<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.swtchart.extensions.menuitems" name="SWTChart MenuItem Extensions" schema="schema/org.eclipse.swtchart.extensions.menuitems.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.swtchart.extensions.preferences.PreferencePage"
            id="org.eclipse.swtchart.extensions.preferences.preferencePage"
            name="SWTChart">
      </page>
   </extension>       
</plugin>
