<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.swtchart.extensions.menuitems">
      <MenuItemSupplier
            MenuEntry="org.eclipse.swtchart.export.extended.menu.vector.SVGExportHandler">
      </MenuItemSupplier>           
   </extension>
</plugin>
