<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse SWTChart (Basic - without Batik)" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.24.0.I20220607-0700"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.24/R-4.24-202206070700/"/>
</location>
</locations>
</target>
